:root{
    --branco: #fff;
    --fundo: #efefef;
    --roxo: #7712C4;
    --roxo-claro: #A70FFF;
}

body{
    display: flex;
    overflow-x: hidden;
    margin: 0;
    background-color: var(--fundo);
}
.div-pai{
    display: flex;
    width: 100%;
}
.container-lateral{
    background-color: rgb(255, 255, 255);
    height: 100vh;
    width: 20%;
    position: fixed;
    align-self: start;
    justify-self: start;
}
.container-principal{
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: flex-end;
    margin-left: 20%;
}
nav{
    display: flex;
    width: 100%;
    height: 200px;
    background-color: var(--roxo-claro);
    flex-direction: column;
    color: white;
    justify-content: center;
    /* padding: 20px; */

}
nav span{
    color: #7CF8E5;
}
.container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50%;
    padding: 0% 2%;
    justify-content: space-evenly;
}
.container1{
    margin-top: -30px;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50%;
}
.container2{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50%;
}
.select{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}
select{
    background-color: #7712C4;
    width: 150px;
    margin-top: -20px;
    color: var(--branco);
}
.kpis-container{
    background-color: var(--branco);
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    justify-content: center;
    align-items: center;
    height: 375px;
    border-radius: 10px;
}
.grafico-principal{
    width: 60%;
    height: 100%;
    border-radius: 10px;
    background-color: var(--branco);
    display: flex;
    align-items: center;
    justify-content: center;
}
.grafico-secundario{
    width: 42%;
    border-radius: 10px;
    background-color: var(--branco);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 375px;
    border-radius: 10px;
}
.grafico-terciario{
    width: 30%;
    border-radius: 10px;
    background-color: var(--branco);
    display: flex;
    align-items: center;
    justify-content: center;
}
canvas{
    width: 50%;
    margin: 0px 5px;
}
.box{
    background-color: var(--roxo-claro);
    border-radius: 10px;
    width: 250px;
    height: 125px;
    border-radius: 30px;
    color: white;
    margin: 10px 10px;
    padding: 10px;
    text-align: center;
}
.box b{
    font-size: 30px;

}