* {
    box-sizing: border-box;
    margin: 0;
}

:root {
    --branco: #fff;
    --fundo: #efefef;
    --fundo-escuro: #e0e0e0;
    --roxo: #7712C4;
    --roxo-claro: #A70FFF;
    --azul: #7CF8E5;
    --modal: #ebebeb;
    --modal-kpi: #3a3a3a;
    --card-selecionado: #a98cca;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    overflow-x: hidden;
    background-color: #dfdfdf;

}

.container-area {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
}

.container-area .menu-lateral {
    width: 20%;
    height: 100vh;
    display: flex;
    position: sticky;
    flex-direction: column;
    align-items: center;
    padding: 2% 0% 0% 0%;
    top: 0;
    background-color: var(--branco);
}

.menu-lateral .topo {
    width: 100%;
    height: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-lateral .logo {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-bottom: 2px solid var(--roxo-claro);
    margin-bottom: 20px;
}

.menu-lateral h2 {
    text-align: center;
    margin: 0;
    color: var(--azul);
}

.menu-lateral h2 span {
    color: var(--roxo-claro);
}

.menu-lateral a {
    text-decoration: none;
    outline: none;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.menu-lateral .links {
    width: 83%;
    height: 40px;
    border-radius: 5px;
    padding: 0% 3%;
    margin-bottom: 1vh;
    transition: 0.5s;
    background-color: var(--fundo);
}

.menu-lateral .links-ativo {
    background-color: var(--roxo-claro);
}

.menu-lateral .links:hover {
    background-color: var(--fundo-escuro);
}

.menu-lateral .links-ativo:hover {
    background-color: var(--roxo);
}

.menu-lateral .links a {
    color: #000;
}

.menu-lateral .links-ativo a {
    color: #FFF;
}

.menu-lateral .alerta {
    margin-top: 20%;
    background-color: red;
    width: 90%;
    height: 150px;
    border-radius: 10px;
    color: #fff;
    text-align: center;
}

.menu-lateral .alerta p {
    font-size: 18px;
    margin: 10px;
}

.menu-lateral .sair {
    width: 83%;
    height: 40px;
    border-radius: 5px;
    padding: 0% 3%;
    margin-bottom: 1vh;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-lateral .sair .span-sair {
    color: #FF5E5E;
    justify-content: space-around;
}


.container-principal {
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: flex-end;
}



.container-area .container {
    width: 80%;
    min-height: 100vh;
    padding-bottom: 5vh;
}

.container .titulo {
    width: 100%;
    height: 15%;
    display: flex;
    align-items: end;
    padding: 0% 8%;
}

.container .titulo div {
    padding: 0% 2%;
    border-bottom: solid 5px var(--roxo-claro);
    font-size: 18px;
}


.container .area-nome {
    width: 100%;
    height: 5%;
    display: flex;
    align-items: center;
    padding: 5% 8%;
    font-size: 20px;
}

.container .area-cards {
    width: 100%;
    height: 60%;
    padding: 1% 5%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 5vh;
}

.container .area-cards .card {
    width: 500px;
    height: 200px;
    border-radius: 10px;
    margin-right: 25px;
    margin-bottom: 25px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px black;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: white;
    transition: .5s;
}

.container .area-cards .card .tipo-card {
    width: 100%;
    height: 100%;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    padding: 8% 3%;
}

.container .card .titulo {
    border-bottom: solid 2px black;
    font-size: 20px;
}

.container .card .infos {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.container .card .infos img {
    max-width: 90%;
    max-height: 140px;
}

.card .jira {
    color: #001eff;
}

.area-cards .jira-card:hover {
    scale: 1.02;
    background-color: #b4bcff;
}

.card .trello {
    color: #9000ff;
}

.card .trello .infos img {
    max-height: 80px;
}

.card .empresas .infos img {
    max-height: 90px;
}

.area-cards .trello-card:hover {
    scale: 1.02;
    background-color: #ddb4ff;
}

.card .tanque {
    color: #000000;
}

.area-cards .tanque-card:hover {
    scale: 1.02;
    background-color: #cdcdcd;
    cursor: pointer;
}


.bob {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
    width: 300px;
    height: 400px;
    margin-left: 78vw;
    margin-top: 40vh;
    /* background-color: red; */
}

.bob .bob-ia {
    height: 60px;
    width: 60px;
    transition: .5s;
    display: block;
}

.bob .bob-ia:hover {
    scale: 1.2;
    cursor: pointer;
}

.bob .chat {
    width: 100%;
    height: 100%;
    background-color: #f3f3f3;
    border-radius: 10px;
    overflow: hidden;
    display: none;
    border: solid 2px black;
    box-shadow: rgba(0, 0, 0, 0.297) 0px 5px 15px;

}

.bob .chat .topo {
    width: 100%;
    height: 15%;
    background-color: var(--roxo-claro);
    display: flex;
    align-items: center;
    padding: 0% 5%;
}

.bob .chat .topo div {
    display: flex;
    height: 100%;
    align-items: center;
}

.bob .chat .topo .bob-ia-chat {
    width: 18%;
    margin-right: 10px;
}

.bob .chat .topo {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
}

.bob .chat .topo .fechar-chat {
    width: 20px;
    margin-right: 10px;
    align-items: end;
    cursor: pointer;
    /* border-radius: 50% */
    /* background-color: white; */
}

.bob .chat .area-msgs {
    width: 100%;
    height: 72%;
    overflow-y: auto;
}

.bob .chat .area-msgs .msg-bob {
    width: 100%;
    min-height: 15px;
    display: flex;
    justify-content: end;
    padding: 0% 2%;
}

.bob .chat .area-msgs .msg-bob .msg {
    width: 85%;
    margin-top: 5px;
    padding: 1% 2%;
    border-radius: 5px 5px 0px 5px;
    background-color: #b6b6b6;
}

.bob .chat .area-msgs .msg-user {
    width: 100%;
    min-height: 15px;
    display: flex;
    justify-content: start;
    padding: 0% 2%;
}

.bob .chat .area-msgs .msg-user .msg {
    width: 85%;
    margin-top: 5px;
    padding: 1% 2%;
    border-radius: 5px 5px 5px 0px;
    background-color: #c35afb;
}



.bob .chat .area-ipt {
    width: 100%;
    height: 13%;
    background-color: #e2e2e2;
    display: flex;
    justify-content: space-between;
    padding: 2%;
    align-items: center;
}

.bob .chat .area-ipt .ipt {
    width: 100%;
    height: 90%;
    padding: 2% 2%;
    border-radius: 5px;
    border: solid 1px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.bob .chat .area-ipt .ipt input {
    width: 90%;
    height: 100%;
    border: none;
    background-color: transparent;
}

.bob .chat .area-ipt .ipt input:focus {
    outline: none;
}

.bob .chat .area-ipt .ipt button {
    display: flex;
    align-items: center;
    justify-items: center;
    border: none;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    background-color: transparent;
}

.bob .chat .area-ipt .ipt img {
    width: 100%;
    cursor: pointer;
}


.msg-bob .msg-carregando {
    width: 30%;
    margin-top: 5px;
    border-radius: 5px 5px 0px 5px;
    background-color: #b6b6b6;
}

.msg-bob .msg-carregando img {
    /* background-color: rebeccapurple; */
    width: 60px;
    margin: -20px 0px;
    height: 60px;

}

/*Modal*/
.area-modal {
    width: 100vw;
    height: 100vh;
    display: none;
    position: fixed;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.568);
}

.modal {
    width: 900px;
    min-height: 400px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    display: flex;
    overflow: hidden;
    padding: 1% 1%;
}

.modal-empresa {
    flex-direction: column;
}

.modal .area-fluxograma{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.modal .ipts {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.modal .titulo-modal {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    font-size: 16px;
    justify-content: start;
}

.modal .titulo-modal img {
    width: 30px;
    transition: .5s;
}

.modal .titulo-modal img:hover {
    scale: 1.1;
    cursor: pointer;
}

.modal .titulo-modal h1 {
    width: 100%;
    text-align: center;
    margin: 0;
}

.modal .dados {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 70%;
}

.modal .dados .linha {
    display: flex;
    width: 100%;
}

.modal .dados label {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 10px;
    font-size: 16px;
}

.modal .dados input {
    background-color: #D9D9D9;
    border: none;
    border-radius: 3px;
    height: 30px;
    padding: 0% 2%;
}

.fluxograma{
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1% 2%;
}
.fluxograma img{
    height: 100%;
    border: solid 1px black;
}

.modal .enviar {
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 1% 2%;
}

.modal .enviar button {
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: #9000ff;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    transition: .5s;
}

.modal .enviar button:hover {
    background-color: #7700d2;
    cursor: pointer;
}

.modal .img {
    width: 40%;
    height: 100%;
    border-left: solid 2px black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2%;
}

.modal .img img {
    width: 100%;
}

.modal .area-empresas {
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
}

.modal table {
    border: solid 2px black;
    border-collapse: collapse;
}

.modal table th {
    margin: 0;
    border: solid 1px black;
    text-align: left;
    padding: 0% 3%;
}

.modal table td {
    margin: 0;
    border: solid 1px black;
    padding: 0% 3%;
}

.modal table .l1 {
    background-color: rgb(239, 226, 255);
}