:root {
    --branco: #fff;
    --fundo: #efefef;
    --roxo: #7712C4;
    --roxo-claro: #A70FFF;
    --azul: #7CF8E5;
    --modal: #ebebeb;
    --modal-kpi: #3a3a3a;
    --card-selecionado: #a98cca;
}

body {
    display: flex;
    overflow-x: hidden;
    margin: 0;
    background-color: var(--fundo);
}

.div-pai {
    display: flex;
    width: 100%;
}

.container-lateral {
    height: 100%;
    width: 20%;
}

.menu-lateral {
    background-color: var(--branco);
    height: 100%;
    width: 20%;
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: center;
    padding: 2% 0%;
}

.menu-lateral .topo {
    width: 100%;
    height: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-lateral .logo {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-bottom: 2px solid var(--roxo-claro);
    margin-bottom: 20px;
}

.menu-lateral h2 {
    text-align: center;
    margin: 0;
    color: var(--azul);
}

.menu-lateral h2 span {
    color: var(--roxo-claro);
}

.menu-lateral a {
    text-decoration: none;
    outline: none;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.menu-lateral .links {
    width: 83%;
    height: 40px;
    border-radius: 5px;
    padding: 0% 3%;
    margin-bottom: 1vh;
    transition: 0.5s;
}

.menu-lateral .links-ativo {
    background-color: var(--roxo-claro);
}

.menu-lateral .links:hover {
    background-color: var(--fundo);
}

.menu-lateral .links-ativo:hover {
    background-color: var(--roxo);
}

.menu-lateral .links a {
    color: #000;
}

.menu-lateral .links-ativo a {
    color: #FFF;
}

.menu-lateral .alerta {
    margin-top: 20%;
    background-color: red;
    width: 90%;
    height: 150px;
    border-radius: 10px;
    color: #fff;
    text-align: center;
}

.menu-lateral .alerta p {
    font-size: 18px;
    margin: 10px;
}

.menu-lateral .sair {
    width: 83%;
    height: 40px;
    border-radius: 5px;
    padding: 0% 3%;
    margin-bottom: 1vh;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-lateral .sair a {
    color: #FF5E5E;
    justify-content: space-around;
}


.container-principal {
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: flex-end;
}

nav {
    display: flex;
    width: 100%;
    height: 150px;
    background-color: var(--roxo-claro);
    color: white;
    padding: 0% 2%;
}

nav .empresa {
    width: 50%;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: end;
}


nav .empresa p {
    font-size: 22px;
    margin: 0;
}


nav .empresa span {
    color: #7CF8E5;
    font-size: 26px;
    font-weight: 500;
}


nav .funcionario {
    width: 50%;
    height: 75%;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 0% 10%;
}

nav .funcionario div {
    padding: 0% 1%;
}

nav .funcionario img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #fff;
}

nav .funcionario p {
    font-size: 22px;
    margin: 0;
    font-weight: 300;
    text-align: center;
}

/*Dash v2*/
.container-kpi {
    width: 100%;
    height: 150px;
    margin-top: 2vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.container-kpi .kpis {
    width: 250px;
    height: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0% 2%;
    background-color: var(--modal-kpi);
    color: white;
}

.container-kpi .kpis .titulo {
    margin: 0;
    border-bottom: solid 1px;
    width: 100%;
}

.container-kpi .kpis .dados {
    margin: 0;
    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-kpi h3 {
    margin: 10px;
}

.container-kpi h1 {
    margin: 0;
    font-size: 50px;
}

.container-grafico {
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    margin-bottom: 3vh;
}
.grafico {
    display: block;
}

#grafico{
    width: 700px;
    height: 350px;
}

/* dashboard -Tanque */
.container-tanque {
    height: auto;
    width: 80%;
    background-color: rgb(220, 220, 220);
}

.container-cards-tanque {
    display: flex;
    width: auto;
    height: auto;
    padding: 1%;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
    width: 475px;
    height: 200px;
    display: flex;
    flex-direction: column;
    padding: 1%;
    border-radius: 10px;
    background-color: #ffffff;
    transition: 0.4s;
    text-decoration: none;
    color: black;
    margin: 5px;
}

.card:hover {
    cursor: pointer;
    background-color: var(--card-selecionado);
}

.alerta {
    background-color: #ff9393;
}

.alerta:hover {
    background-color: #ff5e5e;
}

.card .titulo {
    display: flex;
    padding: 0px 10px;
    height: 20%;
    font-size: 20px;
    font-weight: 500;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 2px black;
}

.card .titulo p {
    margin: 0;
}

.card .titulo img {
    width: 25px;
    padding: 5px;
}

.card .titulo img:hover{
    transform: scale(1.3);
    transition: 0.5s;
}

.card .infos {
    width: 100%;
    height: 80%;
    display: flex;
}

.card .infos .infosTanque {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card .infos .txt-infos {
    margin: 5px;
}

.card .infos h2 {
    font-size: 20px;
}

.card .infos .ilustracao {
    display: flex;
    width: 40%;
    align-items: center;
    justify-content: center;
}

.card .infos img {
    width: 125px;
}



.card .alertas {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.roxo {
    color: rgb(2, 255, 86);
    font-weight: 400;
}

.card-alerta {
    background-color: #FF5E5E;
}

.status-alerta {
    color: #fff;
    font-weight: 600;
}

.card-alerta:hover {
    background-color: #e42323;
}



/*Modal Alerta*/
.modal-container {
    display: none;
    position: fixed;
    z-index: 1;
    width: 100vw;
    min-height: 100vh;
    background-color: rgba(6, 6, 6, 0.76);
    align-items: center;
    justify-content: center;
}

.modal-tanque {
    top: 50px;
    width: 65vw;
    height: 75vh;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 1% 2%;
}

.topo-modal {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topo-modal .sair:hover {
    cursor: pointer;
}

.topo-modal .sair img {
    width: 30px;
    height: 30px;
}

.topo-modal h1 {
    font-weight: 200px;

}

.topo-modal .logo img {
    width: 60px;
    height: 60px;
}

.meio-modal {
    width: 100%;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.graficos-modal {
    display: flex;
    justify-content: space-evenly;
}

.grafico-modal {
    background-color: var(--modal);
}

.kpis-modal {
    display: flex;
}

.kpis-modal .box {
    height: 80px;
    background-color: var(--modal-kpi);
    border-radius: 10px;
}

.card-config {
    width: 50vw;
    height: 60vh;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 1% 2%;
}

.infos-config-modal {
    width: 100%;
    height: 75%;
    border-top: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-evenly;
}

.infos-config-modal label {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.infos-config-modal label input {
    height: 10px;
    padding: 1% 3%;
}

.btn-salvar {
    background-color: var(--roxo-claro);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    transition: .6s;
}

.btn-salvar:hover {
    background-color: var(--roxo);
    cursor: pointer;
}

.modal-alerta {
    display: none;
    width: 20vw;
    height: 15vh;
    position: fixed;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    top: 80vh;
    left: 75vw;
    flex-direction: column;
    padding: 5px 5px;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.modal-alerta .infos-alerta {
    border-bottom: solid 2px red;
    font-size: 18px;
    font-weight: 600;
    color: red;
}

.modal-alerta .dados {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.modal-alerta .estatisticas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
}

.modal-alerta .estatisticas h1 {
    font-size: 18px;
    margin: 0;
}

.modal-alerta .estatisticas h2 {
    font-size: 17px;
    margin: 0;
}

.modal-alerta .img {
    width: 40%;
    display: flex;
    justify-content: center;
}

.modal-alerta img {
    width: 75px;
    height: 75px;
}