* {
    box-sizing: border-box;
}

:root {
    /*variaves de cores*/
    --bg-branco: #F4F5FF;
    /*Branco meio roxo*/
    --color-branco: #FFFFFF;
    /*Branco para fonte*/
    --bg-roxo: #A70FFF;
    /*Roxo mais usado*/
    --bg-roxo-escuro: #420E65;
    /*Roxo escuro*/
}

body {
    margin: 0;
    overflow-x: hidden;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: var(--bg-branco);
}

nav {
    border-bottom: white solid 2px;
    height: 100px;
    width: 100%;
    position: absolute;
    z-index: 999;
    /*valor mais auto para ser na frente*/
}

footer {
    background-color: rgb(13, 255, 0);
    height: 600px;
    width: 100%;
}

/*para facilitar quando precisar ocultar algo*/
/* .d-none {
    display: none;
} */


/*Primeira parte apresentação*/
.container-banner {
    z-index: -1;
}

.banner-fundo {
    background-color: var(--bg-roxo-escuro);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    /*Coloca como fundo de tudo*/
    z-index: 0;
}

.banner-fundo .efeito1 {
    background-color: #8300E7;
    width: 300px;
    height: 300px;
    border-radius: 0 0vw 100% 0px;
    filter: blur(150px);
}

.banner-fundo .efeito2 {
    background-color: #ca79b89d;
    width: 100px;
    height: 100px;
    border-radius: 100% 100%;
    filter: blur(60px);
    opacity: 75%;
    margin-top: 15%;
    margin-left: 15%;
}

.banner-fundo .efeito3 {
    background-color: #6300CE;
    width: 220px;
    height: 220px;
    border-radius: 100% 0 0 0;
    filter: blur(100px);
    align-self: flex-end;
    margin-bottom: 50px;
}

.banner-escrita {
    flex-direction: column;   /* coloca h1 e h2 em coluna (um embaixo do outro) */
    align-items: flex-start;  /* alinha à esquerda (ou canto escolhido) */
    justify-content: flex-start;
    font-size: x-large;
    display: flex;
    position: absolute;
    /* align-items: center; */
    top: 250px;
    width: 100vw;
    height: 100vh;
    /*Colaca em cima*/
    z-index: 1;
}

.banner-escrita h1 {
    font-weight: 400;
    color: white;
    margin-left: 40px;
    text-shadow: 
    0 0 10px #ffffff,
    0 0 0px #ffffff,
    0 0 0px #ffffff,
    0 0 40px #c7e7e4;
    
}

.banner-escrita h2 {
    font-weight: 300;
    font-family: inter;
    font-size: medium;
    color: white;
    margin-left: 40px;
}

.banner-escrita span{
    text-shadow: 
    0 0 10px #7cf8e5,
    0 0 0px #7cf8e5,
    0 0 0px #00ffe0,
    0 0 40px #00ffe0;
    color: #7CF8E5;
}

.botao-saíba a {
    color: var(--bg-branco);
    list-style: none;
    outline: none;
    text-decoration: none;
}

.botao-saíba {
    cursor: pointer;
    font-size: medium;
    margin-left: 40px;
    color: #F4F4F9;
    border: solid 2px;
    padding: 5px;
    padding-right: 20px;
    padding-left: 15px;
    border-radius: 5px;
}

.navbar a{
    color: var(--bg-branco);
    list-style: none;
    outline: none;
    text-decoration: none;
}

.navbar ul {
    display: flex;              
    list-style: none;           
    padding: 0;   
}

.navbar li {
    margin: 0 15px;
}

.navbar .acesso {
    display: flex;
    margin-left: auto;         
}

.navbar {
    display: flex;
    align-items: center;
} 

.navbar .acesso .login {
    font-weight: 400;
    cursor: pointer;
    border: solid white 2px;
    border-radius: 5px;
    padding: 10px 50px;
}

.navbar .acesso .cadastro {
    font-weight: 400;
    cursor: pointer;
    background-color: var(--bg-roxo);
    border: solid transparent;
    border-radius: 5px;
    padding: 10px 40px;
}

.idioma {
    text-align: center;
    justify-content: center;
    color: var(--bg-branco);
    background-color: transparent;
    border: transparent;
    align-items: center;
}

/*Noticias e relatos*/
.container-noti-rela {
    flex-direction: column;
}

.valores {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 100px;
    margin-bottom: 5vh;
    height: 30%;
}

.valores .card {
    width: 300px;
    height: 150px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    text-align: center;
    padding: 0 2%;
    border-radius: 10px;
    border: solid 2px var(--bg-roxo);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.403);
    overflow: hidden;
}

.valores .card-bolinha {
    background-color: var(--bg-roxo);
    min-width: 30px;
    min-height: 30px;
    border-radius: 50%;
    margin-top: 1vh;
    z-index: 2;
}

.valores p {
    margin: 0;
    z-index: 1;
}

.valores .card .titulo {
    font-size: 26px;
    font-weight: 600;
}

.valores .card .desc {
    font-size: 15px;
    font-weight: 400;
}

.valores .card .numero {
    font-size: 90px;
    font-weight: 400;
    align-self: self-start;
    margin-top: -30%;
    color: #B5B5B5;
}

.noticias-relatos {
    height: 70%;
    width: 100%;
    background-color: var(--bg-roxo);
    padding: 1% 5%;
}

.noticias-relatos h1 {
    color: #fff
}

.carrossel-relatos{
    display: flex;
    justify-content: space-between;
}

.carrossel-relatos .card {
    width: 400px;
    height: 250px;
    border-radius: 20px;
    padding: 1% 2%;
    background-color: #fff;
}

.carrossel-relatos .card .header-card {
    display: flex;
    align-items: center;
    height: 60px;
    /* background-color: black ; */
}

.carrossel-relatos .header-card .div-bolinha {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: var(--bg-roxo);
    margin-right: 1vw;
}

.carrossel-relatos .card .conteudo-card {
    font-size: 18px;
    font-weight: 300;
    margin: 0;
}
.carrossel-relatos .card .encaminhar-card {
    margin-top: auto;
    text-align: end;
}
.carrossel-relatos p{
    margin: 10px;
}
.carrossel-relatos a{
    text-decoration: none;
    color: var(--bg-roxo);
}
