* {
    box-sizing: border-box;
}

:root {
    /*variaves de cores*/
    --bg-branco: #F4F5FF;
    /*Branco meio roxo*/
    --color-branco: #FFFFFF;
    /*Branco para fonte*/
    --bg-roxo: #A70FFF;
    /*Roxo mais usado*/
    --bg-roxo-escuro: #420E65;
    /*Roxo escuro*/
    --bg-roxo-nav: #420e65aa;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    overflow-x: hidden;
}

/*Bases*/
.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: var(--bg-branco);
}

nav {
    border-bottom: white solid 2px;
    height: 100px;
    width: 100%;
    display: flex;
    position: fixed;
    z-index: 999;
    /*Valor para ficar na frente*/
    background-color: var(--bg-roxo-nav);
    backdrop-filter: blur(5px);
}

footer {
    height: 550px;
    width: 100vw;
    padding: 0% 2%;
    color: white;
    background-color: var(--bg-roxo-escuro);
}

/*para facilitar quando precisar ocultar algo*/
.d-none {
    display: none;
}

/*Nav*/
.navbar .logo {
    height: 100%;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar .links {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
}

.navbar .acessos {
    height: 100%;
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar .logo img {
    width: 75px;
    height: 75px;
}

.navbar .acesso-img {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navbar .acessos img {
    width: 40px;
}

.navbar .idioma {
    font-size: 20px;
    font-weight: 300;
}

.navbar a {
    color: var(--bg-branco);
    list-style: none;
    outline: none;
    text-decoration: none;
    font-size: 20px;
    font-weight: 300;
    transition: 0.3s;
}

.navbar a:hover {
    color: #f1e0ff;
    filter: drop-shadow(0 0 10px #6f00ff);
    /*Coloca */
}

.navbar ul {
    display: flex;
    list-style: none;
    padding: 0;
}

.navbar li {
    margin: 0 15px;
}


.navbar .acessos .login {
    font-weight: 400;
    cursor: pointer;
    background-color: var(--bg-branco);
    border: none;
    border-radius: 5px;
    padding: 10px 50px;
}

.navbar .acessos .cadastro {
    font-weight: 400;
    cursor: pointer;
    background-color: var(--bg-roxo);
    color: white;
    border: solid transparent;
    border-radius: 5px;
    padding: 10px 40px;
}

.navbar .botoes button {
    font-size: 15px;
    font-weight: 400;
    transition: 0.3s;
    margin: 0 5px;
}

.idioma {
    text-align: center;
    justify-content: center;
    color: var(--bg-branco);
    background-color: transparent;
    border: transparent;
    align-items: center;
}

.idioma option {
    background-color: var(--bg-roxo-escuro);
    border: none;
}

.navbar .login:hover {
    background-color: rgb(230, 230, 230);
    color: var(--bg-roxo);
}

.navbar .cadastro:hover {
    background-color: #830dc7;
}

/*Primeira parte apresentação*/
.container-banner {
    z-index: -1;
}

.banner-fundo {
    background-color: var(--bg-roxo-escuro);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    /*Coloca como fundo de tudo*/
    z-index: 0;
    overflow: hidden;
}

.banner-fundo .efeito1 {
    background-color: #8300E7;
    width: 300px;
    height: 300px;
    border-radius: 0 0vw 100% 0px;
    filter: blur(150px);
}

.banner-fundo .efeito2 {
    background-color: #ca79b89d;
    width: 100px;
    height: 100px;
    border-radius: 100% 100%;
    filter: blur(60px);
    opacity: 75%;
    margin-top: 15%;
    margin-left: 15%;
}

.banner-fundo .efeito3 {
    background-color: #6300CE;
    width: 220px;
    height: 220px;
    border-radius: 100% 0 0 0;
    filter: blur(100px);
    align-self: flex-end;
    margin-bottom: 50px;
}

.banner-escrita {
    flex-direction: column;
    /* coloca h1 e h2 em coluna (um embaixo do outro) */
    align-items: flex-start;
    /* alinha à esquerda (ou canto escolhido) */
    justify-content: flex-start;
    font-size: x-large;
    display: flex;
    position: absolute;
    /* align-items: center; */
    top: 250px;
    width: 100vw;
    height: 100vh;
    /*Colaca em cima*/
    z-index: 1;
}

.banner-escrita h1 {
    font-weight: 400;
    color: white;
    margin-left: 40px;
    text-shadow:
        0 0 10px #ffffff,
        0 0 0px #ffffff,
        0 0 0px #ffffff,
        0 0 40px #c7e7e4;

}

.banner-escrita h2 {
    font-weight: 300;
    font-size: medium;
    color: white;
    margin-left: 40px;
}

.banner-escrita span {
    text-shadow:
        0 0 10px #7cf8e5,
        0 0 0px #7cf8e5,
        0 0 0px #00ffe0,
        0 0 40px #00ffe0;
    color: #7CF8E5;
}

.botao-saíba a {
    color: var(--bg-branco);
    list-style: none;
    outline: none;
    text-decoration: none;
}

.botao-saíba {
    cursor: pointer;
    font-size: medium;
    margin-left: 40px;
    background-color: transparent;
    color: #F4F4F9;
    border: solid 2px;
    padding: 5px;
    padding-right: 20px;
    padding-left: 15px;
    border-radius: 5px;
}

.botao-saíba:hover {
    background-color: rgba(219, 219, 219, 0.389);
}


/*Nossa Missão*/
.missao {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-branco);
}

.missao h2 {
    margin: 1% 5%;
    font-size: 35px;
    color: var(--bg-roxo);

}

.caixas {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
}

.primeira-parte {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.caixas img {
    width: 60px;
    height: 60px;
    position: absolute;


}

.caixas h3 {
    color: var(--bg-roxo);
    font-weight: 400;
    font-size: 26px;
    margin: 10px 20px 0px 20px;

}

.caixas p {
    font-size: 17px;
    padding: 0px 20px;

}

.caixa1 {
    margin: 20px 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: var(--bg-roxo);
    width: 35%;
    height: 35%;
    border-radius: 20px;
    padding: 33px;
}

.caixa2 {
    margin: 20px 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgb(60, 60, 60);
    width: 35%;
    height: 25%;
    border-radius: 20px;
    padding: 33px;
}

.caixa3 {
    margin: 20px 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgb(60, 60, 60);
    width: 35%;
    height: 25%;
    border-radius: 20px;
    padding: 20px;
}

.caixa4 {
    margin: 20px 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: var(--bg-roxo);
    width: 35%;
    height: 25%;
    border-radius: 20px;
    padding: 33px;
}

.caixa4 h3 {
    color: white;
}

.caixa1 h3 {
    color: white;
}


/*Noticias e relatos*/
.container-noti-rela {
    flex-direction: column;
}

.valores {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 100px;
    margin-bottom: 5vh;
    height: 30%;
}

.valores .card {
    width: 300px;
    height: 150px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    text-align: center;
    padding: 0 2%;
    border-radius: 10px;
    border: solid 2px var(--bg-roxo);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.403);
    overflow: hidden;
}

.valores .card-bolinha {
    background-color: var(--bg-roxo);
    min-width: 30px;
    min-height: 30px;
    border-radius: 50%;
    margin-top: 1vh;
    z-index: 2;
}

.valores p {
    margin: 0;
    z-index: 1;
}

.valores .card .titulo {
    font-size: 26px;
    font-weight: 600;
}

.valores .card .desc {
    font-size: 15px;
    font-weight: 400;
}

.valores .card .numero {
    font-size: 90px;
    font-weight: 400;
    align-self: self-start;
    margin-top: -30%;
    color: #B5B5B5;
}

.noticias-relatos {
    height: 70%;
    width: 100%;
    background-color: var(--bg-roxo);
    padding: 1% 5%;
}

.noticias-relatos h1 {
    color: #fff
}

.carrossel-relatos {
    display: flex;
    justify-content: space-between;
}

.carrossel-relatos .card {
    width: 400px;
    height: 250px;
    border-radius: 20px;
    padding: 1% 2%;
    background-color: #fff;
}

.carrossel-relatos .card .header-card {
    display: flex;
    align-items: center;
    height: 60px;
    /* background-color: black ; */
}

.carrossel-relatos .header-card .div-bolinha {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: var(--bg-roxo);
    margin-right: 1vw;
}

.carrossel-relatos .card .conteudo-card {
    font-size: 18px;
    font-weight: 300;
    margin: 0;
}

.carrossel-relatos .card .encaminhar-card {
    margin-top: auto;
    text-align: end;
}

.carrossel-relatos p {
    margin: 10px;
}

.carrossel-relatos a {
    text-decoration: none;
    color: var(--bg-roxo);
}



/* Tela Contato*/
.container-contatoGeral {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: var(--bg-branco);
    width: 100%;
}

.container-contato {
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    align-items: start;
    width: 100%;
}

.container-contatoGeral h2 {
    color: var(--bg-roxo);
    font-size: 36px;
    margin-top: 5%;
    margin-left: 5%;
}

.container-forms {
    width: 40%;
    height: 100%;
}

.contato {
    display: flex;
    border: 2px solid var(--bg-roxo);
    border-radius: 10px;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 8px;
}

.contato h3 {
    color: var(--bg-roxo);
    font-size: 20px;
}

input,
textarea {
    width: 100%;
    padding: 8px;
    border: 2px solid var(--bg-roxo);
    border-radius: 4px;
    background-color: var(--bg-branco);
}

textarea {
    height: 100px;
}

.botao {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.formulario button {
    margin-top: 16px;
    background-color: var(--bg-roxo);
    color: var(--bg-branco);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.sobreNos {
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    width: 40%;
    height: 80%;
}

.box {
    border: 2px solid var(--bg-roxo);
    border-radius: 8px;
    margin-bottom: 12px;
    padding: 8px;
    background-color: var(--bg-branco);
    width: 100%;
}

.open {
    background-color: #d46fff51;
}

/*FOOTER*/
.container-inscrever-se {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.container-inscrever-se div {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 1vh 0;
}

.container-inscrever-se .inp-inscrever-se {
    width: 350px;
    height: 35px;
    margin-right: 0.7vw;
    font-weight: 200;
    color: white;
    background-color: var(--bg-roxo-escuro);
    border: solid 2px white;
    border-radius: 0;
}

.container-inscrever-se .inp-inscrever-se::placeholder {
    color: white;
    font-weight: 200;
}

.container-inscrever-se button {
    background-color: white;
    color: var(--bg-roxo);
    width: 200px;
    height: 35px;
    border: none;
    font-size: 20px;
    font-weight: 300;
    transition: 0.5s;
}
.container-inscrever-se button:hover {
    background-color: rgb(233, 233, 233);
    cursor: pointer;
}

.checkbox-inscricao {
    width: 15px;
    height: 15px;
}

.container-inscrever-se span {
    font-size: 12px;
    font-weight: 300;
}


.conteudo-footer {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    border-top: solid 1px white;
    border-bottom: solid 1px white;
    margin: 0;
    padding: 0px 2vw;
}

.conteudo-footer .topo {
    height: auto;
}

.conteudo-footer .meio {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
    padding-right: 10%;
}

.conteudo-footer .fim {
    display: flex;
    margin: 0;
    justify-content: end;
    
}

.coluna {
    width: 250px;
    margin-bottom: 20px;
}

.coluna h3 {
    color: #f5e9ff;
    margin-bottom: 10px;
    font-weight: normal;
}

.coluna p,
.coluna a {
    font-size: 14px;
    color: #ddd;
    text-decoration: none;
    line-height: 1.6;
    margin: 2px;
}

.coluna a:hover {
    color: white;
    text-decoration: underline;

}

.logo {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.logo img {
    width: 50px;
    margin-right: 10px;
}

.logo h2 {
    color: #7df0ff;
    font-weight: normal;
}


.redes {
    text-align: right;
}

.redes h3 {
    margin-bottom: 10px;
}

.icones img {
    width: 28px;
    margin-left: 8px;
    cursor: pointer;
    transition: transform 0.2s;
}

.icones img:hover {
    transform: scale(1.2);
}

.container-copy{
    text-align: center;
    font-size: 14px;
}